<h3>Affiliate Sign Up</h3>
  <ul class ="signup-list">
    <li>Earn money by sharing the site</li>
  </ul>


    <a href="/help/affiliate" class="btn btn-block btn-primary">Affiliate Help Pages</a>
{{yield}}
