<div class="buyCreditsModal modal fade" id="buyCreditsModal" tabindex="-1" role="dialog" aria-labelledby="buyCreditsModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="buycreditsmodal">
            Buy Credits
        </h4>
      </div>

        <form>
          <div class="modal-body">
            <h4>How many?</h4>
            <div class="visible-xs btn-block btn-group-vertical" data-toggle="buttons">
                <label id="creditSelect" class="btn btn-default">
                  <input type="radio" name="credits" id="credits1" value="100" >
                  100
                </label>
                <label  id="creditSelect" class="btn btn-default">
                  <input type="radio" name="credits" id="credits2" value="250" >
                  250
                </label>
                <label  id="creditSelect" class="btn btn-default">
                  <input type="radio" name="credits" id="credits3" value="500" >
                  500
                </label>
                <label  id="creditSelect" class="btn btn-default ">
                  <input type="radio" name="credits" id="credits4" value="750" >
                  750
                </label>
                <label  id="creditSelect" class="btn btn-default active">
                  <input type="radio" name="credits" id="credits5" value="1000"  checked>
                  1,000
                </label>
              </div>
              <div class="hidden-xs btn-block btn-group-vertical" data-toggle="buttons">
                  <label class="btn btn-default">
                    <input type="radio" name="credits" id="creditslarge1" value="100" >
                    100
                  </label>
                  <label  class="btn btn-default">
                    <input type="radio" name="credits" id="creditslarge2" value="250" >
                    250
                  </label>
                  <label class="btn btn-default">
                    <input type="radio" name="credits" id="creditslarge3" value="500" >
                    500
                  </label>
                  <label  class="btn btn-default ">
                    <input type="radio" name="credits" id="creditslarge4" value="750" >
                    750
                  </label>
                  <label  class="btn btn-default active">
                    <input type="radio" name="credits" id="creditslarge5" value="1000"  checked>
                    1,000
                  </label>
                </div>
  <br>  <br>
            <br>
            <button type="button" class="visible-xs btn btn-primary btn-lg btn-block" data-dismiss="modal" >Buy Credits</button>
            <button type="button" class="hidden-xs btn btn-primary btn-block" data-dismiss="modal" >Buy Credits</button>
            <br>
            <a role="button"  data-dismiss="modal" class="btn btn-block btn-link">Cancel</a>
          </div>
      </form>



    </div>
  </div>
</div>
