<div class="editProfileModal modal fade" id="editProfileModal" tabindex="-1" role="dialog" aria-labelledby="editProfileModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-md" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="editprofilemodal">
            Edit Public Profile
        </h4>
      </div>

        <form autocomplete="off">
          <div class="modal-body">
        {{#if loginState.broadcaster}}
          <div class="form-group">
            <label for="inputaboutme">About Me</label>
            <textarea type="text" class="form-control" id="inputAboutMe" placeholder="A little about yourself, the type of games you like to play, your streaming schedule etc."></textarea>
          </div>
<label for="inputsex">Your Sex</label>
          <form class="form-inline">
          <div class="form-group">

            <div class="radio">
              <label>
                <input type="radio" name="select-sex" id="sex-female" value="sex-female"  checked>
              <b> Female</b> &nbsp; &nbsp; &nbsp;
              </label>
                    <label>
              <input type="radio"  name="select-sex" id="sex-male" value="sex-male" >
            <b> Male</b> &nbsp; &nbsp; &nbsp;
            </label>
            </div>
            <label>
              <input type="radio"  name="select-sex" id="sex-other" value="sex-other"  >
              <input type="text" class="form-control" id="inputsex" placeholder="Other">
            </label>
          </div>
        </form>
        {{else if loginState.developer}}
        <div class="form-group">
          <label for="inputaboutme">About Me</label>
          <textarea type="text" class="form-control" id="inputAboutMe" placeholder="A short bio about yourself and your games"></textarea>
        </div>
        <div class="form-group">
          <label for="inputsex">Sex</label>
          <input type="text" class="form-control" id="inputsex" placeholder="Your sex">
        </div>


        {{else}}
            <div class="form-group">
              <label for="inputaboutme">About Me</label>
              <textarea type="text" class="form-control" id="inputAboutMe" placeholder="A little about yourself, your favorite games etc."></textarea>
            </div>
            <div class="form-group">
              <label for="inputsex">Sex</label>
              <input type="text" class="form-control" id="inputsex" placeholder="Your sex">
            </div>

        {{/if}}

        <div class="form-group">
          <label for="inputlocation">Location</label>
          <input type="text" class="form-control" id="inputlocation" placeholder="Your general location">
        </div>

          {{#if loginState.broadcaster}}

          <div class="form-group">
            <label >Tags (choose up to 10)</label>

            {{#tag-input
                tags=tags
                addTag=(action 'addTag')
                removeTagAtIndex=(action 'removeTagAtIndex')
                as |tag|
              }}
                {{tag}}
              {{/tag-input}}
            </div>
            {{/if}}

  <br>

            <button type="submit" class="btn btn-primary">Submit</button>
            <button  data-dismiss="modal" class="btn btn-link">Cancel</button>

            <br>
          </div>
      </form>



    </div>
  </div>
</div>
