<div class="editPhotosModal modal fade" id="editPhotosModal" tabindex="-1" role="dialog" aria-labelledby="editPhotosModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-md" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">
            Edit Photos
        </h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
           <span aria-hidden="true">&times;</span>
         </button>


      </div>

          <div class="modal-body">

     <!-- Standar Form -->
     <h5>Select files from your computer</h5>
     <form action="" method="post" enctype="multipart/form-data" id="js-upload-form">
       <div class="form-inline">
         <div class="form-group">
           <input type="file" name="files[]" id="js-upload-files" multiple>
         </div>
         <button type="submit" class="btn btn-sm btn-primary" id="js-upload-submit">Upload files</button>
       </div>
     </form>

  <br>  <br>
          </div>




    </div>
  </div>
</div>
