<div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-hidden="true">
<div class="modal-dialog modal-sm" role="document">
  <div class="modal-content">

    <div class="modal-body">
      <button {{!action this.currentUser.cleanUpModal}} type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      {{log-in user=model}}
    </div>

  </div>
</div>
</div>
