<div class="panel panel-default" id="private-messenger-window">
  <button {{action "togglePM"}} type="button" class="close" id="closePM" Aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
   <div class="panel-heading accordion-toggle collapsed"  data-toggle="collapse" data-parent="#emailSettingsAccordion" data-target="#collapsePrivateMessenger">


     Private Chat&nbsp;&nbsp;&nbsp;<span class="badge">42</span>
   </div>
<div class="panel-collapse collapse" id="collapsePrivateMessenger">
   <div class="panel-body" id="private-messenger-panel">
     <b>test:</b> woooo its chat<br>
     <b>tester2:</b> Testing Testing Testing <br>
     <b>test:</b> woooo its chat<br>
     <b>tester2:</b> Testing Testing Testing <br>
     <b>test:</b> woooo its chat<br>
     <b>tester2:</b> Testing Testing Testing <br>
     <b>test:</b> woooo its chat<br>
     <b>tester2:</b> Testing Testing Testing <br>
     <b>test:</b> woooo its chat<br>
     <b>tester2:</b> Testing Testing Testing <br>
     <b>test:</b> woooo its chat<br>
     <b>tester2:</b> Testing Testing Testing <br>
     <b>test:</b> woooo its chat<br>
     <b>tester2:</b> Testing Testing Testing <br>
     <b>test:</b> woooo its chat<br>
     <b>tester2:</b> Testing Testing Testing <br>
     <b>test:</b> woooo its chat<br>
     <b>tester2:</b> Testing Testing Testing <br>
     <b>test:</b> woooo its chat<br>
     <b>tester2:</b> Testing Testing Testing <br>
   </div>
   <div class="input-group">
      <input type="text" id="chat-input" class="form-control" placeholder="Enter Chat Message...">
      <span class="input-group-btn">
        <button class="btn btn-primary" id="chat-input" type="button">Send</button>
      </span>
    </div>
  </div>
 </div>
