<p>Welcome <%= @resource.username %> / <%= @email %>!</p>

<p>You can confirm your account email through the link below:</p>

<p><%= link_to 'Confirm my account', "#{Rails.configuration.front_end_hostname}/signup/confirm?confirmation_token=#{@token}" %></p>
