<p>Welcome <%= @resource.username %> / <%= @email %>!</p>

<p>You can confirm your account email through the link below:</p>

<p><%= link_to 'Confirm my account', 'http://localhost:4200/signup/confirm?confirmation_token='.concat(@token) %></p>
