
@import "bootstrap";

*{

  font-family: 'Lato', sans-serif;
}

#nav-links{
  color: #FFFFFF;
}
#profile-links{
  color: #000000;
  font-size:24px;
}
#edit-links{
  color: #000000;
  font-size:20px;
  position:absolute;
  top:12px;
  right:30px;
}
#footer-links{
  color: #FFFFFF;
}
#footer-links:hover{
  color:#000000;
}

#main-navbar-collapse{
  background-color:#e6e6e6;
}
#login-button{
  color: #000000;
  border:none;
  background-color:#0063ef;
}
#creditSelect{
  padding:20px;
  font-size:18px;
 }

.profile-Actions{
  position: absolute;
  right:30px;
}


html {
  position: relative;
  min-height: 100%;
}
body {
  margin-bottom: 400px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 400px;
  background-color: #232528;
}

.container {
  width: auto;
  max-width: 960px;
  padding: 0 15px;
  padding-bottom: 30px;
}
.form-inline .form-control {
    display: inline-block;
    width: auto;
    vertical-align: middle;
}
.navbar-default{
  min-height:50px;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#7d7e7d+0,0e0e0e+100;Black+3D */
  background: #7d7e7d; /* Old browsers */
  background: -moz-linear-gradient(left,  #7d7e7d 0%, #0e0e0e 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left,  #7d7e7d 0%,#0e0e0e 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right,  #7d7e7d 0%,#0e0e0e 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7d7e7d', endColorstr='#0e0e0e',GradientType=1 ); /* IE6-9 */

//	background: #B80000; /* For browsers that do not support gradients */
//	background: -webkit-linear-gradient(left, #B80000 , #800000); /* For Safari 5.1 to 6.0 */
//	background: -o-linear-gradient(right, #B80000, #800000); /* For Opera 11.1 to 12.0 */
//	background: -moz-linear-gradient(right, #B80000, #800000); /* For Firefox 3.6 to 15 */
//	background: linear-gradient(to right, #B80000 , #800000); /* Standard syntax */

}
// Extra small devices (portrait phones, less than 544px)
// No media query since this is the default in Bootstrap

// Small devices (landscape phones, 544px and up)
@media (min-width: 544px) {

}
// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  body {
    margin-bottom: 120px;
  }
  .footer {
    height: 120px;
  }
  .navbar-toggle{
   position:absolute;
   margin-top:6px;
   right:0px;

  }
  #main-navbar-collapse{
    background-color:transparent;
}
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {


}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {


}

//spinny guy
.spinner {
  width: 50px;
  height: 15px;
  background-color: #FFF;

  margin: 2px auto;
  -webkit-animation: sk-rotateplane 1.2s infinite ease-in-out;
  animation: sk-rotateplane 1.2s infinite ease-in-out;
}
@-webkit-keyframes sk-rotateplane {
  0% { -webkit-transform: perspective(120px) }
  50% { -webkit-transform: perspective(120px) rotateY(180deg) }
  100% { -webkit-transform: perspective(120px) rotateY(180deg)  rotateX(180deg) }
}
@keyframes sk-rotateplane {
  0% {
    transform: perspective(120px) rotateX(0deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg)
  } 50% {
    transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg)
  } 100% {
    transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
  }
}
