
  <div class="row m-0">
    <div class="col-xs-12 col-sm-4">
      <h4>Broadcaster Application</h4>


      <button class="btn btn-outline-dark" href="/account"><u>Go Back</u></button>
      <br><br>



      Fill it out!
<br><br><br>
  <ol>  <s>  1. Create an account</s></ol>
      <ol>   2. Add Payout Info and ID</ol>
      <ol>   3. Wait at most 24 hours for approval </ol>
      <ol>   4. Fill out profile and start!</ol>
        <br><br>
    </div>
    <div class="col-xs-12 col-sm-8">
      {{dob-select}}
      <br>
      <form>
          <div class="form-group-sm">
            <label for="inputfirstName">First Name</label>
            <input type="text" class="form-control" id="inputfirstName" placeholder="First Name">
          </div>
          <div class="form-group-sm">
            <label for="inputlastName">Last Name</label>
            <input type="text" class="form-control" id="inputlastName" placeholder="Last Name">
          </div>
              {{address-select}}
              <br>
          <div class="form-group">
            <label for="verificationUpload">Please provide proof of age</label>
            <br>
            <input type="file" id="verificationDocs">
          </div>
          <br>
        <button type="button" class="btn btn-primary btn-block" >Submit</button>
    </form>
    </div>
  </div>
