
  {{#if loginState.devCaster}}
  <div class="row m-0">
    <div class="col-xs-12">
      <h2>Your Dashboard</h2>
      <br>
    </div>
  </div>
  <div class="row m-0">

  {{#if loginState.broadcaster}}

    <div class="col-xs-6 col-sm-4">
      <br><br>
      <button class="btn btn-primary btn-block btn-lg d-block d-sm-none" title="Stream with minimal set up right from your web browser."  >Quick<br/>Stream</button>
      <button class="btn btn-primary btn-block btn-lg d-none d-sm-block" title="Stream with minimal set up right from your web browser."  >Quick Stream</button>

    </div>
    <div class="col-xs-6 col-sm-4" >
      <br><br>
      <button class="btn btn-primary btn-block btn-lg d-block d-sm-none" title="Stream via RTMP, better for gaming streams but requires some set up."   >Advanced <br/>Stream</button>
      <button class="btn btn-primary btn-block btn-lg d-none d-sm-block" title="Stream via RTMP, better for gaming streams but requires some set up."  >Advanced Stream</button>
      <br><br>
    </div>
    {{/if}}
  {{#if loginState.devCaster}}
    <div class="col-xs-12 col-sm-4 px-5">
          <div class="row" >
            <div class="col  p-1 mb-2">
              <a href="/profile" class="w-100 btn btn-primary "  ><span class="fa fa-edit"></span> <br/>Edit Profile</a>
            </div>
            <div class="col   p-1 mb-2">
              <a href="/account/messages" class="w-100 btn btn-primary"  ><span class="fa fa-inbox"></span> <br/>Inbox</a>
            </div>
          </div>
          <div class="row">
            <div class="col  p-1 mb-2">
              <a   href="/account" class=" w-100 btn btn-primary"  ><span class="fa fa-cog"></span> <br/>Account</a>
            </div>
            <div class="col  p-1 mb-2">
              <a   href="/help" class=" w-100 btn btn-primary "  ><span class="fa fa-question"></span> <br/>Help</a>
            </div>
          </div>
          <div class="row">
            <div class="col  p-1 mb-2">
              <a    href="#" class=" w-100 btn btn-primary "  ><span class="fa fa-bar-chart"></span> <br/>Earnings</a>
            </div>
            <div class="col  p-1 mb-2">
              <a   href="#" class=" w-100 btn btn-primary "  ><span class="fa fa-bullhorn"></span> <br/>Referals</a>
            </div>
          </div>

</div>
  {{/if}}
</div>

    <div class="row m-0">
        <div class="col-xs-12 col-sm-8">

          {{#if loginState.broadcaster}}

              <div class="card mb-3 " id="streamSettingsAccordion">
                <div class="card-heading accordion-toggle" data-toggle="collapse" data-parent="#streamSettingsAccordion" data-target="#streamSettings">
                  <h4 class="card-title"><span class="fa fa-cog" aria-hidden="true"></span>&nbsp; Stream Settings</h4>
                </div>
              <div id="streamSettings" class="card-collapse show">
                <div class="card-body">
                <form class="form-inline">
                        <div class="input-group">
                           <button class="input-group-prepend btn btn-light" type="button">Show Steam Key</button>

                             <input type="text" class="form-control" placeholder="***************">

                         <button class="input-groun-append btn btn-light"><span class="fa fa-refresh" aria-hidden="true"></span>&nbsp;Reset Key</button>
                        </div>

                       </form>
                     <form>
                       <br>
                        <br>
                  <div class="form-check">


                      <label class="form-check-label">
                        <input type="checkbox" class="form-check-input" checked>
                          Allow users to suggest games.
                      </label>
                      <br><br>
                          </div>
                        </form>

                          <form class ="form-inline">
                      <h4>Tips</h4>
  <br>
                      <label class="form-check-label">
                        <input type="checkbox" class="form-check-input" checked>
                        Enable Tipping.
                      </label>
                      <br>
                    <label class="form-check-label">
                      <input type="checkbox" class="form-check-input">
                    </label>
                  </div>
</form>
                  <br>
                  <form>
                  <div class=text-right>

                  <button type="submit" class="btn btn-primary">Submit</button>
                </div>

                  </form>
                </div>
              </div>
            </div>

          {{/if}}


                        <div class="card mb-3 " id="statsAccordion">

                            <div class="card-heading accordion-toggle collapsed" data-toggle="collapse" data-parent="#statsAccordion" data-target="#statsCollapse">
                              <h4 class="card-title"><span class="fa fa-bar-chart" aria-hidden="true"></span>&nbsp; Stats</h4>

                            </div>
                            <div id="statsCollapse" class="card-collapse collapse">
                              <div class="card-body">
                                woo stats <br> <br> congrats on the stats
                                </div>
                            </div>
                          </div>
                          {{#if loginState.developer}}

                            <div class="card mb-3 " id="developerAccordion">
                                <div class="card-heading accordion-toggle" data-toggle="collapse" data-parent="#developerAccordion" data-target="#developerCollapse">
                                  <h4 class="card-title"><span class="fa fa-gamepad" aria-hidden="true"></span>&nbsp; My Games</h4>

                                </div>
                                <div id="developerCollapse" class="card-collapse show">
                                  <div class="card-body">
                                    <div class="col-xs-6">
                                      <br><br>
                                      <button class="btn btn-primary btn-block btn-lg d-block d-sm-none" title="View the API and Documentation"  >View<br/>API</button>
                                      <button class="btn btn-primary btn-block btn-lg d-none d-sm-block" title="View the API and Documentation"  >View API</button>

                                    </div>
                                    <div class="col-xs-6" >
                                      <br><br>
                                      <button class="btn btn-primary btn-block btn-lg d-block d-sm-none" title="Upload Your Game"   >Upload <br/>Game</button>
                                      <button class="btn btn-primary btn-block btn-lg d-none d-sm-block" title="Upload Your Game"  >Upload Game</button>
                                      <br><br>
                                    </div>
                                    </div>
                                    <div class="card-body">
                                      <div class="row">
                                        <div class="col-xs-12 col-sm-6">
                                          <div class="col-xs-8">
                                            Game 1
                                          </div>
                                        <div class="col-xs-4">
                                          <img src="/usericon.svg"  class="img-responsive center-block" title="Click to view rules and controls" alt="Game Icon" width="100%">
                                        </div>
                                      </div>
                                      <div class="col-xs-12 col-sm-6">
                                        <div class="col-xs-8">
                                        Game 2
                                        </div>
                                        <div class="col-xs-4">
                                          <img src="/usericon.svg"  class="img-responsive center-block" title="Click to view rules and controls" alt="Game Icon" width="100%">
                                        </div>
                                      </div>
                                    </div>
                                    <div class="row">
                                      <div class="col-xs-12 col-sm-6">
                                        <div class="col-xs-8">
                                          Game 3
                                        </div>
                                        <div class="col-xs-4">
                                          <img src="/usericon.svg"  class="img-responsive center-block" title="Click to view rules and controls" alt="Game Icon" width="100%">
                                        </div>
                                      </div>
                                      <div class="col-xs-12 col-sm-6">
                                        <div class="col-xs-8">
                                          Game 4
                                        </div>
                                        <div class="col-xs-4">
                                          <img src="/usericon.svg"  class="img-responsive center-block" title="Click to view rules and controls" alt="Game Icon" width="100%">
                                        </div>
                                      </div>
                                    </div>
                                    </div>
                                </div>
                              </div>

                            {{/if}}

        </div>

    </div>



  {{else}}
  <div class="row m-0">
    <br><br>
    <div class="col-xs-6">
      <button href="/account" class="btn btn-primary btn-block btn-lg d-block d-sm-none" title="Account Settings"   >Account<br/>Settings</button>
      <button href="/account" class="btn btn-primary btn-block btn-lg d-none d-sm-block" title="Account Settings"   >Account Settings</button>
    </div>
    <div class="col-xs-6">
      <button href="/profile" class="btn btn-primary btn-block btn-lg d-block d-sm-none" title="My Profile"  >My<br/>Profile</button>
      <button href="/profile" class="btn btn-primary btn-block btn-lg d-none d-sm-block" title="My Profile"  >My Profile</button>

    </div>
  </div>
  {{/if}}


{{outlet}}
