<div class="row m-0">
  <h2>Delete Account</h2>
  <br>
  <h4>Are you sure you would like to permanently delete your account?</h4>
  <br>
  <button class="btn btn-outline-dark mr-5" href="/account" ><strong>No, Go Back</strong></button>
  <button class="btn btn-primary ml-5">Yes, <strong>Delete</strong> Account</button>
</div>
{{outlet}}
