
<h2>Delete Account</h2>
<br>
 <h4>Are you sure you would like to permanently delete your account?</h4>
<br>
 <button class="btn btn-outline-dark mr-5" href="/account" >No, Go Back</button>
 <button class="btn btn-danger ml-5">Yes, Delete Account</button>

{{outlet}}
