<div class="container">

<h2>Delete Account</h2>
<br>
 <h4>Are you sure you would like to permanently delete your account?</h4>
<br>
 <a type="button" class="btn btn-default" href="/account" >No, Go Back</a>
 <a type="button" class="btn btn-danger">Yes, Delete Account</a>

</div>
{{outlet}}
