  <div class="row m-0">
    <div class="col-xs-12 col-sm-4">
      <h4>Developer Application</h4>


      <button class="btn btn-outline-dark" href="/account"><u>Go Back</u></button>
        <br><br>

      Fill it out!
        <br><br><br>
        <ol>  <s>  1. Create an account</s></ol>
            <ol>   2. Add Payout Info</ol>
            <ol>   3. Add the API to your game </ol>
            <ol>   4. Upload your game and start earning!</ol>
    </div>
    <div class="col-xs-12 col-sm-8">
      {{dob-select}}
      <br>
      <form>
          <div class="form-group-sm">
            <label for="inputfirstName">First Name</label>
            <input type="text" class="form-control" id="inputfirstName" placeholder="First Name">
          </div>
          <div class="form-group-sm">
            <label for="inputlastName">Last Name</label>
            <input type="text" class="form-control" id="inputlastName" placeholder="Last Name">
          </div>
          {{address-select}}
              <br>
        <button type="button" class="btn btn-primary btn-block" data-dismiss="modal">Submit</button>
    </form>
    </div>
  </div>
