<div class="container">
  <h2>Account Settings</h2>

  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-8">
      <a class="btn btn-primary btn-block visible-xs-block" href="/profile" role="button">Edit Profile &nbsp;<span class="glyphicon glyphicon-edit" aria-hidden="true"></span></a>
  <br>  <br>
      <h4>Email Preferences</h4>
        <form>
          <label class="form-check-label">
            <input type="checkbox" class="form-check-input">
              Send me an email when my favorites are online.
            </label>

        <div class="form-check">
          <label class="form-check-label">
            <input type="checkbox" class="form-check-input">
              Send me email about site news, events and updates.
          </label>
        </div>
              <br>
        <h4>Change Email</h4>
        <br>
        <div class="form-group-sm">
          <label for="inputpassword">Current Password</label>
          <input type="password" class="form-control" id="inputpassword" placeholder="Current Password">
        </div>
        <div class="form-group-sm">
          <label for="inputemailAddress">New Email address</label>
          <input type="email" class="form-control" id="inputemailAddress"  placeholder="New email address">
        </div>
        <div class="form-group-sm">
          <label for="inputemailAddress">Confirm New Email address</label>
          <input type="email" class="form-control" id="inputemailAddress"  placeholder="New email address">
        </div>
      </form>
      <br>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4">
      <a class="btn btn-primary btn-block hidden-xs" href="/profile" role="button">Edit Profile &nbsp;<span class="glyphicon glyphicon-edit" aria-hidden="true"></span></a>
  <br>  <br>    <br>
        <a class="btn btn-primary btn-block hidden-xs" href="/account/broadcaster" role="button">Become a Broadcaster &nbsp;<span class="glyphicon glyphicon-facetime-video" aria-hidden="true"></span></a>
        <a class="btn btn-primary btn-block hidden-xs" href="/account/developer" role="button">Become a Developer &nbsp;<span class="glyphicon glyphicon-console" aria-hidden="true"></span></a>

  </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-8">
      <h4>Security Settings</h4>
        <form>
          <div class="form-group-sm">
            <label for="inputpassword">Current Password</label>
            <input type="password" class="form-control" id="inputpassword" placeholder="Current Password">
          </div>
          <div class="form-group-sm">
            <label for="inputpassword">New Password</label>
            <input type="password" class="form-control" id="inputpasswordnew" placeholder="New Password">
          </div>
          <div class="form-group-sm">
            <label for="inputpasswordconfirm">Confrim Password</label>
            <input type="password" class="form-control" id="inputpasswordconfirm" placeholder="New Password">
          </div>
          <br>
      </form>
      <br>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4">
      </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-8">
      <h4>Site and Search Options</h4>
      <form>
        <label class="form-check-label">
          <input type="checkbox" class="form-check-input">
            Dark Mode
          </label>
          <br><br>
      <button type="submit" class="btn btn-primary">Submit</button>
      <br><br><br>
    </form>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4">
      <a class="btn btn-primary btn-block visible-xs-block" href="/fullSignup" role="button">Become a Broadcaster &nbsp;<span class="glyphicon glyphicon-facetime-video" aria-hidden="true"></span></a>
      <a class="btn btn-primary btn-block visible-xs-block" href="/fullSignup" role="button">Become a Developer &nbsp;<span class="glyphicon glyphicon-console" aria-hidden="true"></span></a>
<br><br>
      <a type="button" class="btn btn-link btn-block" href="/account/delete"><u>Delete Account</u></a>
    </div>
  </div>
</div>


{{outlet}}
