<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-4">
      <div class="well">
        Conversations
      </div>
    </div>
    <div class="col-xs-12 col-sm-8">
      <div class="well">
        <h4>Send New Message</h4>
        <br>
<form>
      <div class="form-group">
        <label for="inputsex">To</label>
        <input type="text" class="form-control" id="inputTo" placeholder="Recipient">
      </div>
      <div class="form-group">
        <label for="inputaboutme">Message</label>
        <textarea type="text" class="form-control" id="inputMessage" placeholder="Type your message here"></textarea>
      </div>
      <div class="text-right">
        <button type="submit" class="btn btn-primary">Send Message</button>
      </div>

</form>
      </div>
    </div>
  </div>
</div>
{{outlet}}
