
  <div class="row m-0">
    <div class="col-xs-12 col-sm-4">
      <div class="well">
        Conversations
      </div>
    </div>
    <div class="col-xs-12 col-sm-8">
      <div class="well">
        <h4>Send New Message</h4>
        <br>
<form {{action "sendDM" on="Submit"}}>
      <div class="form-group">
        <label for="inputsex">To</label>
        {{input type="text" class="form-control" value=inputReciever }}
      </div>
      <div class="form-group">
        <label for="inputaboutme">Message</label>
        {{textarea rows="5" type="text" class="form-control" value=inputMessage }}
      </div>
      <div class="text-right">
        <button type="submit" class="btn btn-primary">Send Message</button>
      </div>

</form>
      </div>
    </div>
  </div>
{{outlet}}
