<p>From <%= @message_params[:contact_email] %></p>

<p>Topic: <%= @message_params[:topic] %></p>

<p>Subject: <%= @message_params[:subject] %></p>

<p>Message:</p>
<p><%= @message_params[:message] %></p>
