<div class="container mt-2">
  <div class="row m-0">
      <div class="col-xs-12 col-md-5">
        {{broadcaster-blurb}}
      </div>
    <div class="col-xs-12 col-md-7">
      <h3>Broadcaster Sign Up</h3>
      <form>
        {{sign-up "broadcaster"}}
      </form>
    </div>

  </div>
</div>
