<div class="container mt-2">
  <div class="row m-0">
    <div class="col-xs-12 col-5 col-md-7">
      <form>
        {{sign-up "user"}}
      </form>
    </div>
    <div class="col-xs-12 col-7 col-md-5">
      {{player-blurb}}
    </div>
  </div>
</div>
