<h3>Affiliate Sign Up</h3>
  <ul class ="signup-list">
    <li>Earn money by sharing the site</li>
    <li>Earn XX% of every purchase you bring to the site</li>
    <li>Track your earnings with detailed statistics</li>
    <li>Utilize our suite of marketing materials</li>

  </ul>

  {{link-to "Affiliate Help Pages" "help" class="btn btn-block btn-primary"}}

{{yield}}
