<h3>Broadcaster Sign Up</h3>
  <ul class ="signup-list">
    <li>Earn money streaming</li>
    <li>Start streaming within 24 hours</li>
    <li>Stream right from your browser or with RTMP</li>
    <li>Boost your revenue with referral bonuses</li>

  </ul>
  <br>
  <h3>Minimum Streaming Requirements</h3>
    <ul class ="signup-list">
  
    </ul>
    <br>
    {{link-to "Broadcaster Help Pages" "help" class="btn btn-block btn-primary"}}

{{yield}}
