{{#if uploadErrors}}
  {{#each uploadErrors as |error|}}
  <p class="alert alert-danger">
    - {{error.detail}}<br>
  </p>
  {{/each}}
{{/if}}
<div id="dashboard-area"></div>
<!-- {{input
  multiple="false"
  change=(action "upload")
  accept="image/png,image/jpeg"
  type="file"
  disabled=disableUploads
}} -->
<p>
  {{#if (gt uploads 0)}}
    {{#if (lt uploads 100)}}
      Progress: {{uploads}}%
    {{/if}}
  {{/if}}
  {{#if disableUploads}}
    You may only upload {{maximumUploads}} images.
  {{/if}}
</p>
