<div class="panel panel-default" id="popup-alert-window">
  <button {{action "togglePopup"}} type="button" class="close" id="closeAlert" Aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
   <div class="panel-body" id="popup-alert-panel">
     <div class="popup-title text-center">
    Play Checkers with Player?
  </div>

     <div class="text-center">
     <button  {{action "togglePopup"}} type="button" class="btn btn-secondary">Close</button>
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
     <button type="button" class="btn btn-primary">Play</button>
     </div>
   </div>
 </div>
