<div class="player">

  {{!-- {{#if onlineStatus}} --}}

  <video id='video-player' class='video-js vjs-16-9'>
    <p class='vjs-no-js'>
      To view this video please enable JavaScript, and consider upgrading to a web browser that
      <a href='https://videojs.com/html5-video-support/' target='_blank'>supports HTML5 video</a>
    </p>
  </video>
  Is Streaming {{isStreaming}}


  {{!--{{else}}
    <img src="{{if profilePhoto profilePhoto "/streamnails/usericon.svg"}}" height="500">
  {{/if}}--}}

</div>
