
  <div class="player">

    {{#if onlineStatus}}
      <video class="player-video" height="500" src="http://commondatastorage.googleapis.com/gtv-videos-bucket/sample/ForBiggerBlazes.mp4"></video>
    {{else}}
      <img src="{{if profilePhoto profilePhoto "/streamnails/usericon.svg"}}" height="500">
    {{/if}}
    <div class="player-controls">
          <div class="ply-btn">
          <button class="player-btn toggle-play" title="Toggle Play" {{action "togglePlay"}}>
          <svg class="" width="16" height="16" viewBox="0 0 16 16"><title>play</title><path d="M3 2l10 6-10 6z"></path></svg>
          </button>
      </div>
      <div class="sliders">
        <input type="range" name="volume" class="player-volume" min="0" max="1" step="0.05" value="1" {{action "volumeUpdate"}}>
      </div>
    </div>
  </div>
