<div class="player">

  <div id='video-player-wrapper'>
     <video id='video-player'>
    </video>
  </div>
{{#if currentUserIsProfileOwner}}

  Is Streaming {{isStreaming}} <button {{action "testAction"}}>error</button><button {{action "reset"}}>restart</button><button {{action "src"}}>stop</button>


  {{/if}}

</div>
