<div class="mt-3">
  <h3 class="pt-3">
    Why do we collect this information?
  </h3>
  <strong>If you are NOT a United States citizen or working within the United States:</strong>
  <br> Saber must obtain your legal name and permanent residence address in order to comply with U.S. tax reporting regulations.
  <hr class="splash-horizontal-rule">

  <strong>If you ARE a United States citizen or working within the United States:</strong>

  <br> Saber must obtain your correct Taxpayer Identification Number (TIN) to report income
  paid to you or your organization. Saber uses this electronic Substitute Form W-9 to
  obtain certification of your TIN in order to ensure accuracy of information and to avoid backup withholding.
  <br><br>

  We ask for the information on the Substitute Form W-9 to
  carry out the Internal Revenue laws of the United States. You are required to give us the information in order to earn money on the site.
  <br><br>

</div>

<h3 class="pt-3">
  Instructions for Completing this Substitute Form W-9
</h3>
<div class="mt-3 ">

  <strong>Full Name and or Business Name:</strong>
  <br>For individuals, enter the name of the person who will do business with
  Saber as it appears on the Social Security card or other required Federal tax documents. An
  organization should enter the name shown on its charter or other legal documents that created the
  organization. Do not abbreviate names.
  <br><br>
  <strong>Entity Type:</strong>
  <br>Enter the U.S. federal tax classification of the person or entity listed above. For individuals without a business name will be marked as "Individual" automatically.
  <br><br>
  <strong>Taxpayer Identification Number (TIN) and Taxpayer Identification Type:</strong>
  <br>
  For U.S. Citizens: The TIN provided must match the name in the Full Name or Business Name box to avoid backup withholding.
  For individuals, this is your social security number (SSN). However, for a resident alien, sole proprietor,
  or disregarded entity, refer to IRS W-9 instructions for additional information. For other entities, it is your
  employer identification number (EIN). If you do not have a number or if the account is in more than one
  name, <a class="btn-link" href="https://www.irs.gov/pub/irs-pdf/fw9.pdf"  target="_blank" >refer to IRS Form W-9 instructions for additional information.</a>
  <br>
  Taxpayer Identification Number: Enter your nine-digit Social Security Number, Individual
  Taxpayer Identification Number (ITIN) or Employer Identification Number (EIN), including dashes.
  <br><br>
  <strong>Address:</strong>
  <br>Enter the address where payments, 1099s, if applicable, and official
  correspondence should be mailed.
  <br><br>
  <strong>Backup Withholding:</strong>
  For U.S. Citizens;
  <br> Payments you receive will be subject to backup withholding if:
  <br> 1. You do not furnish your TIN to the requester,
  <br> 2. You do not certify your TIN when required,
  <br> 3. The IRS tells the requester that you furnished an incorrect TIN,
  <br> 4. The IRS tells you that you are subject to backup withholding
  because you did not report all your interest and dividends on your tax
  return (for reportable interest and dividends only), or
  <br> 5. You do not certify to the requester that you are not subject to
  backup withholding under 4 above (for reportable interest and dividend
  accounts opened after 1983 only).
  Certain payees and payments are exempt from backup withholding.


  <br> <a class="btn-link" href="https://www.irs.gov/pub/irs-pdf/fw9.pdf" target="_blank" >Refer to IRS Form W-9 instructions for additional information.</a>
  <br><br>
  <strong>Certification and Signature:</strong>

  <br> The signature should be provided by the individual, owner, officer, legal representative, or other authorized person of the
  entity listed on the form. Certain exceptions to the signature requirement are listed in the IRS instructions
  for form W-9. The electronic signature on this substitute form is a valid form of signing.
</div>
