<div class="container mt-2">
  <div class="row m-0">


      <div class="col-xs-12 col-md-5">
        {{broadcaster-blurb}}
      </div>
      <div class="col-xs-12 col-md-7">
        {{#unless currentUser.isContracted}}
          <a href="#why">
            <button class="pb-2 btn btn-link float-right">
              Why do we collect this info?
            </button>
          </a>
        {{/unless}}

        {{contractor-application-form
          applicationType="Broadcaster"
          userData=currentUser.user
          userVerificationUploads=model.userVerificationUploads
          changeset=changeset
          submit=(action "submitApplication")
          saveForLater=(action "saveApplicationForLater")
          rollback=(action "rollbackApplication")
          revertApplicationChanges=(mut revertApplicationChanges)
        }}

        {{#unless currentUser.isContracted}}
        <div id="why">
          {{w-9-help}}
        </div>
        {{/unless}}
      </div>
    {{!/if}}

  </div>
</div>
