<div class="container mt-2">
  <div class="row m-0 text-center">
    <div class="col-12">
      <h2>404 Page not found :(</h2>
    </div>
    <div class="col-12">
      <h3>
        {{link-to "Go Home?" "home" }}
      </h3>
    </div>
  </div>
</div>
