
<br><br>
  <div class="row">
    <div class="col-xs-12 col-sm-8  col-sm-push-4">
      <form>
        <div class="form-group-sm">
          <label for="inputusername">Username</label>
          <input type="text" class="form-control" id="inputusername" placeholder="Choose a username">
        </div>
        <br>
        <div class="form-group-sm">
          <label for="inputemailAddress">Email address</label>
          <input type="email" class="form-control" id="inputemailAddress"  placeholder="Email address">
        </div>
        <br>
        <div class="form-group-sm">
          <label for="inputfirstname">First Name</label>
          <input type="text" class="form-control" id="inputfirstname" placeholder="First Name">
        </div>
        <br>
        <div class="form-group-sm">
          <label for="inputlastname">Last Name</label>
          <input type="text" class="form-control" id="inputlastname" placeholder="Last Name">
        </div>
        <br>
        <div class="form-group-sm">
          <label for="inputpassword">Password</label>
          <input type="password" class="form-control" id="inputpassword" placeholder="Password">
        </div>
        <br>
        <div class="form-group-sm">
          <label for="inputpasswordconfirm">Confirm Password</label>
          <input type="password" class="form-control" id="inputpasswordconfirm" placeholder="Password">
        </div>
        <label class="form-check-label">
                <br>
          <input type="checkbox" class="form-check-input">
            Yes, I am over the age of 18 and agree to the <a href="/terms" target="_blank"><u>terms of service</u></a></label>
  <br><br>


        <button type="button" class="signup-button btn btn-primary btn-block" data-dismiss="modal" {{action "signup"}}>Sign me up!</button>

          <br><br>
</form>

</div>
<div class="col-xs-12 col-sm-4 col-sm-pull-8">
  <h3>Broadcaster Sign Up</h3>
    <ul class ="signup-list">
      <li>Earn money streaming</li>
      <li>Start streaming within 24 hours</li>
      <li>Stream right from your browser or with RTMP</li>
      <li>Boost your revenue with referral bonuses</li>

    </ul>
    <br>
    <h3>Minimum Streaming Requirements</h3>
      <ul class ="signup-list">
        <li>A web camera and microphone</li>
        <li>At least 1 mbps upload speed - you can test this at <a href="http://speedtest.net">speedtest.net</a></li>
        <li>A web browser that supports <a href="https://www.adobe.com/support/flash/downloads.html">Adobe Flash</a> </li>
        <li>Optional - RTMP streaming software such as < a href="https://obsproject.com/">OBS</a></li>
      </ul>
</div>

</div>
<div class="row ">
  <br>
<h4>      Or, sign up as a <a href="/signup"> Player</a> or <a href="/signup/developer">Game Developer</a></h4>
</div>


{{outlet}}
