
<br><br>
  <div class="row m-0">

    <div class="col-xs-12 col-sm-5 col-md-7">
      <form>
        <div class="form-group-sm">
          <label for="inputusername">Username</label>
          <input type="text" class="form-control" id="inputusername" placeholder="Choose a username">
        </div>
<br>
        <div class="form-group-sm">
          <label for="inputemailAddress">Email address</label>
          <input type="email" class="form-control" id="inputemailAddress"  placeholder="Email address">
        </div>
        <br>
        <div class="form-group-sm">
          <label for="inputfirstname">First Name</label>
          <input type="text" class="form-control" id="inputfirstname" placeholder="First Name">
        </div>
        <br>
        <div class="form-group-sm">
          <label for="inputlastname">Last Name</label>
          <input type="text" class="form-control" id="inputlastname" placeholder="Last Name">
        </div>
        <br>
        <div class="form-group-sm">
          <label for="inputpassword">Password</label>
          <input type="password" class="form-control" id="inputpassword" placeholder="Password">
        </div>
        <br>
        <div class="form-group-sm">
          <label for="inputpasswordconfirm">Confirm Password</label>
          <input type="password" class="form-control" id="inputpasswordconfirm" placeholder="Password">
        </div>

        <label class="form-check-label">

          <input type="checkbox" class="form-check-input">
            Yes, I am over the age of 18 and agree to the <a href="/terms" target="_blank"><u>terms of service</u></a></label>
  <br><br>


        <button type="button" class="signup-button btn btn-primary btn-block" data-dismiss="modal" {{action "signup"}}>Sign me up!</button>

          <br><br>
</form>

</div>
<div class="col-xs-12 col-sm-7 col-md-5">
   {{dev-blurb}}
</div>
</div>
<div class="row m-0">
  <div class="col">
<h4>      Or, sign up as a  <a href="/signup">Player</a> or <a href="/signup/broadcaster"> Broadcaster</a></h4>
</div>
</div>

{{outlet}}
