
<br><br>
  <div class="row ">

    <div class="col-xs-12 col-sm-8  col-sm-push-4">
      <form>
        <div class="form-group-sm">
          <label for="inputusername">Username</label>
          <input type="text" class="form-control" id="inputusername" placeholder="Choose a username">
        </div>
<br>
        <div class="form-group-sm">
          <label for="inputemailAddress">Email address</label>
          <input type="email" class="form-control" id="inputemailAddress"  placeholder="Email address">
        </div>
        <br>
        <div class="form-group-sm">
          <label for="inputfirstname">First Name</label>
          <input type="text" class="form-control" id="inputfirstname" placeholder="First Name">
        </div>
        <br>
        <div class="form-group-sm">
          <label for="inputlastname">Last Name</label>
          <input type="text" class="form-control" id="inputlastname" placeholder="Last Name">
        </div>
        <br>
        <div class="form-group-sm">
          <label for="inputpassword">Password</label>
          <input type="password" class="form-control" id="inputpassword" placeholder="Password">
        </div>
        <br>
        <div class="form-group-sm">
          <label for="inputpasswordconfirm">Confirm Password</label>
          <input type="password" class="form-control" id="inputpasswordconfirm" placeholder="Password">
        </div>

        <label class="form-check-label">
                <br>
          <input type="checkbox" class="form-check-input">
            Yes, I am over the age of 18 and agree to the <a href="/terms" target="_blank"><u>terms of service</u></a></label>
  <br><br>


        <button type="button" class="signup-button btn btn-primary btn-block" data-dismiss="modal" {{action "signup"}}>Sign me up!</button>

          <br><br>
</form>

</div>
<div class="col-xs-12 col-sm-4 col-sm-pull-8">
  <h3>Developer Sign Up</h3>
    <ul class ="signup-list">
      <li>Earn money from every play of the game</li>
      <li>Add our simple API in less then an hour</li>
      <li>Boost your revenue with referral bonuses</li>
    </ul>
    <br>
    <h3>What kind of games are accepted?</h3>
      <ul class ="signup-list">
        <li>Shorter multiplayer games (such as "mini games")</li>
        <li>Singleplayer games with a "highest score" winner </li>
      </ul>
</div>
</div>
<div class="row ">
<h4>      Or, sign up as a  <a href="/signup">Player</a> or <a href="/signup/broadcaster"> Broadcaster</a></h4>
</div>

{{outlet}}
