
<div class="container">
<br><br>
  <div class="row ">
    <div class ="col-xs-12">
      <div class="col-xs-12 col-sm-8 col-sm-push-4">
        {{log-in signupform=true}}
      </div>
      <div class="col-xs-12 col-sm-4 col-sm-pull-8">
      <h3>Player Sign Up</h3>
        <ul class ="signup-list">
          <li>Chat live with broadcasters</li>
          <li>Save your favorite broadcasters</li>
          <li>No Ads</li>
        </ul>
      </div>
    </div>

  </div>
  <div class="row ">
    <br>
  <h4>      Or, sign up as a <a href="/signup/broadcaster"> Broadcaster</a> or <a href="/signup/developer">Game Developer</a></h4>
  </div>
</div>
{{outlet}}
