
<div class="container">

  <div class="row ">
    <div class="col-xs-1 col-sm-3 hidden-xs">
    </div>
    <div class="col-xs-12 col-sm-6">
      {{log-in signupform=true}}
    </div>
    <div class="col-xs-1 col-sm-3 hidden-xs">
    </div>
</div>

</div>
{{outlet}}
