// app.scss should only be for imports
//@import "bootstrap";
@import "ember-bootstrap/bootstrap";
@import "ember-bootstrap/functions";
@import "ember-bootstrap/variables";
@import "ember-bootstrap/mixins";
@import "ember-bootstrap/root";
@import "ember-bootstrap/print";
@import "ember-bootstrap/reboot";
@import "ember-bootstrap/type";
@import "ember-bootstrap/buttons";

@import "notifications";

$ember-power-select-line-height: 2.5;
@import "ember-power-select";

///////////////////// Overriding Bootstrap

.container-fluid {
  padding-left: 30px;
  padding-right: 30px;
}
.btn-primary {
  background-color: #800000;
  border-style: none;
}
.badge-primary {
  background-color: #800000;
}

.btn.focus,
.btn:focus,
.form-control.focus,
.form-control:focus {
  outline: 0;
  box-shadow: none !important;
}

.btn-primary:hover {
  background-color: #b80000;
  border-color: #cccccc;
}

.btn-primary:focus,
.btn-primary:active:hover,
.btn-primary.active,
.btn-primary.active.focus {
  background-color: #600000 !important;
  border-color: #cccccc;
}

.border-primary {
  border-color: #800000 !important;
}
