// Base css for all themes
$background-color: #e7e7e7;
$layer1-background-color: #ffffff;
$layer2-background-color: #ffffff;
$font-color: #1c1c1c;
$font-color-secondary: #1a1616;
$placeholder-font-color: #888888;

$brand-color-primary: #25282b; // Buttons and Hyperlinks
$brand-color-secondary: #009cff; //Secondary Buttons #b80000
$brand-color-tertiary: #25282b; //Gradient Left #800000
$brand-color-quaternary: #25282b; //Gradient Right #800000

$brand-color-success: #0ab104;
$brand-color-danger: #940000;

$on-status-color: $brand-color-primary; //browse broadcaster online status
$off-status-color: #000000; //browse broadcaster offline status

* {
  font-family: "Heebo", sans-serif;
}

html,
body {
  height: 100vh;
  max-height: 100vh;
  min-height: 100vh;
}

a {
  text-decoration: none;
}
a:hover {
  color: $brand-color-secondary;
}

.navbar {
  height: 3rem;
}
.brand-link-image {
  padding: 0.85rem;
}
a.brand-link:link {
  text-decoration: inherit;
  color: inherit;
}
a.brand-link:visited {
  text-decoration: inherit;
  color: inherit;
}
.dropdown-menu {
  width: 15rem !important;
  user-select: none;
}
.radio-is-selected:checked + label {
  background-color: $brand-color-quaternary;
  border-color: $brand-color-quaternary;
}

.brand-gradient-bg {
  background: $brand-color-tertiary; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(
    left,
    $brand-color-tertiary,
    $brand-color-quaternary
  ); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(
    right,
    $brand-color-tertiary,
    $brand-color-quaternary
  ); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(
    right,
    $brand-color-tertiary,
    $brand-color-quaternary
  ); /* For Firefox 3.6 to 15 */
  background: linear-gradient(
    to right,
    $brand-color-tertiary,
    $brand-color-quaternary
  ); /* Standard syntax */
}
.brand-gradient-font {
  background: $brand-color-tertiary; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(
    left,
    $brand-color-tertiary,
    $brand-color-quaternary
  ); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(
    right,
    $brand-color-tertiary,
    $brand-color-quaternary
  ); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(
    right,
    $brand-color-tertiary,
    $brand-color-quaternary
  ); /* For Firefox 3.6 to 15 */
  background: linear-gradient(
    to right,
    $brand-color-tertiary,
    $brand-color-quaternary
  ); /* Standard syntax */

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.brand-gradient-border {
  background: $brand-color-tertiary; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(
    left,
    $brand-color-tertiary,
    $brand-color-quaternary
  ); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(
    right,
    $brand-color-tertiary,
    $brand-color-quaternary
  ); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(
    right,
    $brand-color-tertiary,
    $brand-color-quaternary
  ); /* For Firefox 3.6 to 15 */
  background: linear-gradient(
    to right,
    $brand-color-tertiary,
    $brand-color-quaternary
  ); /* Standard syntax */
}

.horizontal-scroll {
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
}
@media (min-width: 768px) {
  .fill-viewport {
    // Viewport height minus header height
    height: calc(100vh - 3rem);
    height: -o-calc(100vh - 3rem); /* opera */
    height: -webkit-calc(100vh - 3rem); /* google, safari */
    height: -moz-calc(100vh - 3rem); /* firefox */
    overflow-y: auto;
    overflow-x: hidden;
  }
}
.h-2-5r {
  height: 2.5rem;
}
.h-2-4r {
  height: 2.4rem;
}
.fs-1-5r {
  font-size: 1.5rem;
}
.fs-1-25r {
  font-size: 1.25rem;
}
.fs-2r {
  font-size: 2rem;
}
.fs-5r {
  font-size: 5rem;
}
.lh-14 {
  line-height: 1.4;
}
.no-select {
  user-select: none;
}

.to-top {
  cursor: pointer;
  position: fixed;
  bottom: 1rem;
  right: 2rem;
}
.z-900 {
  z-index: 900 !important;
}

// Broadcaster browser

.force-sixteen-nine {
  position: relative;
  &:before {
    display: block;
    content: "";
    width: 100%;
    padding-top: (9 / 16) * 100%;
    background-color: #000;
  }
  > .content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transition: all 0.2s;
  }
  > .content:hover {
    border-color: #fff;
    transition: all 0.2s;
  }
}
.broadcaster-detail {
  line-height: 1.1;
  font-size: 0.875rem;
}
.broadcaster-detail:hover {
  color: $brand-color-secondary;
}
.gradient-border-interior {
  background: #fff;
}
.online {
  border: 0.25rem solid #009cff;
}
.offline {
  border: 0.25rem solid #676767;
}

// Profile page

.username-bar {
  // font-size: 1.1rem;
  line-height: 1.8;
  height: 2.25rem;
}
.image-thumb {
  max-width: 500px;
  max-height: 300px;
  width: auto;
  height: auto;
}
.donation-toolbar {
  height: 2rem;
}

// Chat component

.chat-panel {
  border-left: solid $brand-color-secondary;
  width: 22rem;
  height: 100%;
  max-height: 100%;
  font-size: 0.8rem !important;
}
@media (max-width: 768px) {
  .chat-panel {
    border: none;
    width: 100%;
    height: 18rem;
    max-height: 18rem;
  }
}
.chat-tab-body {
  background-color: rgb(255, 255, 255);
  overflow-y: auto;
  overflow-x: hidden;
  word-wrap: break-word;
}
.chat-username {
  cursor: pointer;
}
.chat-username:hover {
  color: $brand-color-secondary;
}
.min-height-0 {
  min-height: 0px;
}

.blurb-list {
  list-style-type: circle;
}

.small-loader {
  font-size: 4px;
  margin: 0.6rem;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  -webkit-animation: load5 1.1s infinite ease;
  animation: load5 1.1s infinite ease;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}

.cursor-pointer {
  cursor: pointer;
}
.list-style-none {
  list-style-type: none;
}

/// Overriding Bootstrap

.card {
  padding: 1rem;
}
$card-border-width: none;
$input-disabled-bg: $layer2-background-color;

$enable-caret: false;

$body-bg: $background-color;
$body-color: $font-color;

$primary: $brand-color-primary;
$secondary: $brand-color-secondary;
$success: $brand-color-success;
$danger: $brand-color-danger;

$dropdown-bg: $layer1-background-color;
$dropdown-link-color: $font-color;
$dropdown-header-color: $font-color;
$dropdown-min-width: 15rem !important;

$card-bg: $layer1-background-color;

$input-bg: $layer2-background-color;
$input-color: $font-color;
$input-placeholder-color: $placeholder-font-color;

$border-radius: 0.12rem;

.modal-backdrop {
  background-color: #000000 !important;
  opacity: 0.95 !important;
}

.splash-horizontal-rule {
  border-color: $font-color;
}
.splash-vertical-rule {
  border-color: $font-color;
}
@media (min-width: 768px) {
  .splash-vertical-rule {
    border-right: solid;
  }
}

.nav-tabs,
.nav-tabs .nav-item.hide .nav-link {
  color: $font-color-secondary !important;
}
.nav-tabs .nav-link.active,
.nav-tabs .nav-item.show .nav-link {
  color: $font-color !important;
  background-color: #fff !important;
}
.nav-tabs .nav-link:hover {
  color: $brand-color-primary !important;
}

//// Overriding node modules

// bs-modal

.modal-content {
  background-color: $background-color !important;
}

//// ember-power-select
.ember-power-select-trigger {
  background-color: $layer1-background-color !important;
}
.ember-power-select-trigger.focus,
.ember-power-select-trigger:focus {
  border-color: $formBorderColor;
  outline: 0;
  background-color: $layer1-background-color;
}
.ember-power-select-option {
  background-color: $layer1-background-color;
}
.ember-power-select-option[aria-selected="true"] {
  background-color: $layer1-background-color;
}
.ember-power-select-option[aria-current="true"] {
  background-color: $layer1-background-color;
}
.ember-power-select-search {
  background-color: $layer1-background-color;
}
.ember-power-select-search-input {
  background-color: $layer1-background-color;
  color: $font-color;
  outline: 0;
}

//// Ember Tag Input

.emberTagInput {
  border-style: none;
}
.emberTagInput-input {
  background: $layer1-background-color;
  border-style: solid;
  border-width: 1px;
  line-height: 2;
  color: $font-color;
  border-color: $font-color;
}
.emberTagInput-input:focus {
  border-color: $brand-color-primary;
}
.emberTagInput-tag {
  background: $brand-color-primary;
}

//// Uppy

.uppy-Dashboard-dropFilesTitle {
  color: $font-color;
}
.uppy-Dashboard-note {
  color: $font-color;
}
.uppy-Dashboard-uploadCount {
  color: $font-color;
}
.uppy-Dashboard-close {
  color: $font-color;
}
.uppy-DashboardTabs-title {
  color: $font-color;
}
.uppy-DashboardTab-btn {
  color: $font-color;
}
.uppy-DashboardContent-back {
  color: $brand-color-primary;
}
.uppy-DashboardContent-addMore {
  color: $brand-color-primary;
}
.uppy-Dashboard-browse {
  color: $brand-color-primary;
  &:hover,
  &:focus {
    border-bottom: 2px solid $brand-color-primary;
  }
}
.uppy-DashboardAddFiles {
  background: $layer1-background-color;
}
.uppy-Dashboard-innerWrap {
  background: $layer1-background-color;
}
.uppy-StatusBar.is-waiting .uppy-StatusBar-actions {
  background: $layer1-background-color;
}
.uppy-DashboardContent-bar {
  background: $layer1-background-color;
}
.uppy-Dashboard-AddFilesPanel {
  background: $layer1-background-color;
}
.uppy-StatusBar.is-waiting .uppy-StatusBar-actionBtn--upload {
  width: 100% !important;
  background: $brand-color-primary;
}
.uppy-StatusBar.is-waiting .uppy-StatusBar-actionBtn--upload:hover {
  background: $brand-color-tertiary;

  box-shadow: none !important;
}
.uppy-StatusBar.is-waiting .uppy-StatusBar-actionBtn--upload:focus {
  box-shadow: none !important;
}

//photo viewer background
.lb-outerContainer {
  background-color: $background-color;
}

@import "ember-bootstrap/bootstrap";
@import "notifications";
$ember-power-select-line-height: 2.5;
@import "ember-power-select";
