<p>Hello <%= @resource.email %>!</p>

<p>We're contacting you to notify you that your password has been changed.</p>

<hr>

<div class="email-footer">
  <p>This email was sent to <%= @resource.email %> as an account notification from <a href="www.saber.tv">Saber.tv</a>,<br> you can manage your email settings by <a href=<%= "#{Rails.configuration.front_end_hostname}/account" %>>clicking here.</a></p>
</div>
