

  <div class="row" style="margin:0px;">

        <h2>Broadcaster Help and Resources</h2>
        <br>
    <div class="col-xs-12 col-sm-4 no-padding padding-sides-sm" >
      <div class="sticky-top">
      <a href="#hostingAccordion">   <button class="btn btn-block btn-primary"  data-toggle="collapse" data-parent="#hostingAccordion" data-target="#collapseHosting">Hosting a Livestream</button></a><br>
      <a href="#rulesAccordion" >  <button class="btn btn-block btn-primary"  data-toggle="collapse" data-parent="#rulesAccordion" data-target="#collapseRules">Site Rules</button></a><br>
      <a href="#RTMPAccordion" >  <button class="btn btn-block btn-primary"  data-toggle="collapse" data-parent="#RTMPAccordion" data-target="#collapseRTMP">Streaming with RTMP</button></a><br>
      <a href="#makingMoneyAccordion">    <button class="btn btn-block btn-primary"   data-toggle="collapse" data-parent="#makingMoneyAccordion" data-target="#collapseMakingMoney">Making Money</button></a><br>
      <a href="#growingAccordion">  <button class="btn btn-block btn-primary"   data-toggle="collapse" data-parent="#growingAccordion" data-target="#collapseGrowing">Growing your Audience</button></a><br>

        <br><br>
            <div class="text-center d-none d-sm-block">
            <br><br><br>
              Still need help?<br> Click below to send us a message.<br><br>
              <a class="btn btn-primary" href="/contact" role="button">Contact Us</a>
            </div>
          </div>
        </div>


    <div class="col-xs-12 col-sm-8 no-padding padding-sides-sm">
          <div id="hostingAccordion">
            <div class="card  ">
                <div class="card-heading accordion-toggle collapsed " data-toggle="collapse" data-parent="#hostingAccordion" data-target="#collapseHosting">
                <h4 class="card-title">Hosting a Live Stream</h4>
            </div>
            <div id="collapseHosting" class="card-collapse collapse in">
                  <div class="card-body">
                  Hosting
                  </div>
                </div>
              </div>
            </div>
            <br>

            <div id="rulesAccordion">
              <div class="card  ">
                  <div class="card-heading accordion-toggle collapsed" data-toggle="collapse" data-parent="#rulesAccordion" data-target="#collapseRules">
                  <h4 class="card-title">Site Rules</h4>
              </div>
              <div id="collapseRules" class="card-collapse collapse">
                    <div class="card-body">
                      Rules
                     </ul>
                      <br><br>
                    </div>
                  </div>
                </div>
              </div>
<br>


            <div id="RTMPAccordion">
              <div class="card  ">
                  <div class="card-heading accordion-toggle collapsed" data-toggle="collapse" data-parent="#RTMPAccordion" data-target="#collapseRTMP">
                  <h4 class="card-title">Stream with RTMP</h4>
              </div>
              <div id="collapseRTMP" class="card-collapse collapse">
                    <div class="card-body">
                      To stream with RTMP you will need a streaming software such as OBS.<br>
                    </div>
                  </div>
                </div>
              </div>
<br>
              <div  id="makingMoneyAccordion">
                <div class="card  ">
                    <div class="card-heading accordion-toggle collapsed" data-toggle="collapse" data-parent="#makingMoneyAccordion" data-target="#collapseMakingMoney">
                    <h4 class="card-title">Making Money</h4>
                </div>
                <div id="collapseMakingMoney" class="card-collapse collapse">
                      <div class="card-body">
                      Making Money
                      </div>
                    </div>
                  </div>
                </div>
<br>
                <div id="growingAccordion">
                    <div class="card  ">
                      <div class="card-heading accordion-toggle collapsed" data-toggle="collapse" data-parent="#growingAccordion" data-target="#collapseGrowing">
                          <h4 class="card-title">Growing your audience</h4>
                      </div>
                      <div id="collapseGrowing" class="card-collapse collapse">
                        <div class="card-body">
                        Grow your audience

                        </div>
                      </div>
                    </div>
                  </div>

      </div>


    <br><br>
    </div>
    <div class="text-center d-block d-sm-none">
      <br><br>
      Still need help?<br> Click below to send us a message.<br><br>
      <a class="btn btn-primary" href="/contact" role="button">Contact Us</a>
</div>
{{outlet}}
