

  <div class="row " style="margin:0px;">

          <h2>Developer Help and Resources</h2>
          <br>

    <div class="col-xs-12 col-sm-4 no-padding padding-sides-sm">
            <div class="sticky-top">
    <a href="#aboutGamesAccordion">   <button class="btn btn-block btn-primary"  data-toggle="collapse" data-parent="#aboutGamesAccordion" data-target="#collapseAboutGames">About Games</button></a><br>
    <a href="#rulesAccordion">    <button class="btn btn-block btn-primary" href="#rulesAccordion"  data-toggle="collapse" data-parent="#rulesAccordion" data-target="#collapseRules">Site Rules</button></a><br>
    <a href="#makingMoneyAccordion">    <button class="btn btn-block btn-primary"   data-toggle="collapse" data-parent="#makingMoneyAccordion" data-target="#collapseMakingMoney">Making Money</button></a><br>
    <a href="#uploadAccordion">    <button class="btn btn-block btn-primary"  data-toggle="collapse" data-parent="#uploadAccordion" data-target="#collapseUpload">Uploading your game</button></a><br>
    <a href="#apiAccordion">  <button class="btn btn-block btn-primary"   data-toggle="collapse" data-parent="#apiAccordion" data-target="#collapseAPI">API Documentation</button></a><br>

      <br><br>
          <div class="text-center d-none d-sm-block">
          <br><br><br>
            Still need help?<br> Click below to send us a message.<br><br>
            <a class="btn btn-primary" href="/contact" role="button">Contact Us</a>
          </div>
        </div>
</div>
    <div class="col-xs-12 col-sm-8 no-padding padding-sides-sm">
          <div   id="aboutGamesAccordion">
            <div class="card   ">
                <div class="card-heading accordion-toggle collapsed" data-toggle="collapse" data-parent="#aboutGamesAccordion" data-target="#collapseAboutGames">
                <h4 class="card-title">About Games</h4>
            </div>
            <div id="collapseAboutGames" class="card-collapse collapse in">
                  <div class="card-body">
                    We've got games!
                  </div>
                </div>
              </div>
            </div>
<br>
            <div   id="rulesAccordion">
              <div class="card   ">
                  <div class="card-heading accordion-toggle collapsed" data-toggle="collapse" data-parent="#rulesAccordion" data-target="#collapseRules">
                  <h4 class="card-title">Site Rules</h4>
              </div>
              <div id="collapseRules" class="card-collapse collapse">
                    <div class="card-body">
                    Rules
                      <br><br>
                    </div>
                  </div>
                </div>
              </div>
<br>
            <div   id="uploadAccordion">
              <div class="card   ">
                  <div class="card-heading accordion-toggle collapsed" data-toggle="collapse" data-parent="#uploadAccordion" data-target="#collapseUpload">
                  <h4 class="card-title">Uploading your game</h4>
              </div>
              <div id="collapseUpload" class="card-collapse collapse">
                    <div class="card-body">
                      Upload your game! its great!
                    </div>
                  </div>
                </div>
              </div>
<br>
              <div   id="makingMoneyAccordion">
                <div class="card   ">
                    <div class="card-heading accordion-toggle collapsed" data-toggle="collapse" data-parent="#makingMoneyAccordion" data-target="#collapseMakingMoney">
                    <h4 class="card-title">Making Money</h4>
                </div>
                <div id="collapseMakingMoney" class="card-collapse collapse">
                      <div class="card-body">
                        Earn Money when your game is played
                      </div>
                    </div>
                  </div>
                </div>
<br>
            <div   id="apiAccordion">
              <div class="card   ">
                  <div class="card-heading accordion-toggle collapsed" data-toggle="collapse" data-parent="#apiAccordion" data-target="#collapseAPI">
                  <h4 class="card-title"> API Documentation</h4>
              </div>
              <div id="collapseAPI" class="card-collapse collapse">
                    <div class="card-body">
                      These Functions do all sorts of things!

                    </div>
                  </div>
                </div>
              </div>
<br>
      </div>



  </div>
  <div class="text-center d-block d-sm-none">
    <br><br>
    Still need help?<br> Click below to send us a message.<br><br>
    <a class="btn btn-primary" href="/contact" role="button">Contact Us</a>
</div>
{{outlet}}
