<div class="container">
  <div class="row">

    <h2>Developer Help</h2>

    <div id="streaming">
      <br><br>
      <h3>Account and Sign Up</h3>
      <br>
      <br><br>
    </div>
    <div id="api">
      <br><br>
      <h3>Working with the API</h3>
      <br>
      <br><br>
    </div>
    <div id="upload">
      <br><br>
      <h3>Uploading a Game</h3>
      <br>
      <br><br>
    </div>

  </div>
  <div class="row">
    <div class="text-center">
      Still need help? Click below to send us a message.<br><br>
      <a class="btn btn-primary" href="/contact" role="button">Contact Us</a>
    </div>
  </div>
</div>
{{outlet}}
