
  <div class="row " >
    <h2>Help</h2>
    <br>
    <br>
    <div class="col-xs-12 col-sm-4 no-padding padding-sides-sm ">
        <div class="sticky-top">

    <a  href="#accountSignupAccordion" >  <button class="btn btn-block btn-primary" data-toggle="collapse" data-parent="#accountSignupAccordion" data-target="#collapseAccountSignup">Account and Sign Up</button></a><br>
    <a  href="#rulesAccordion" >  <button class="btn btn-block btn-primary" data-toggle="collapse" data-parent="#rulesAccordion" data-target="#collapseRules">Site Rules</button></a><br>
    <a  href="#bugsAccordion"  >  <button class="btn btn-block btn-primary" data-toggle="collapse" data-parent="#bugsAccordion" data-target="#collapseBugs">Bugs and Issues</button></a><br>


  <br><br>
      <div class="text-center d-none d-sm-block">
      <br><br><br><br><br>
        Still need help?<br> Click below to send us a message.<br><br>
        <a class="btn btn-primary" href="/contact" role="button">Contact Us</a>
      </div>
    </div>
</div>


    <div class="col-xs-12 col-sm-8 no-padding padding-sides-sm">
          <div id="accountSignupAccordion">
            <div class="card  ">
                <div class="card-heading accordion-toggle collapsed" data-toggle="collapse" data-parent="#accountSignupAccordion" data-target="#collapseAccountSignup">
                <h4 class="card-title "> Account and Sign Up</h4>
            </div>
            <div id="collapseAccountSignup" class="card-collapse collapse in">
                  <div class="card-body">
                    <b>Q.</b>  Can I put games I've developed on the site?
                    <br>
                    {{#if loginState.loggedIn}}
                      <b>A.</b>  Yes, <a href="/account/developer">click here to become a developer.</a>
                    {{else}}
                      <b>A.</b>  Yes, <a href="/signup/developer">click here to become a developer.</a>
                    {{/if}}
                    <br><br>
                    <b>Q.</b>  How can I stream on your site?
                    <br>
                    {{#if loginState.loggedIn}}
                      <b>A.</b>  Yes, <a href="/account/broadcaster">click here to become a broadcaster.</a>
                    {{else}}
                      <b>A.</b>  Yes, <a href="/signup/broadcaster">click here to become a broadcaster.</a>
                    {{/if}}
                    <br><br>
                    <b>Q.</b>  Can I delete my account?
                    <br>
                    <b>A.</b>  Yes, while logged in <a href="/account/delete">click here to delete your account.</a>

                  </div>
                </div>
              </div>
            </div>
            <br>
            <div  id="rulesAccordion">
              <div class="card">
                  <div class="card-heading accordion-toggle collapsed" data-toggle="collapse" data-parent="#rulesAccordion" data-target="#collapseRules">
                  <h4 class="card-title">Site Rules</h4>
              </div>
              <div id="collapseRules" class="card-collapse collapse">
                    <div class="card-body">
                    Rules
                      <br><br>
                    </div>
                  </div>
                </div>
              </div>
              <br>
            <div  id="bugsAccordion">
              <div class="card  ">
                  <div class="card-heading accordion-toggle collapsed" data-toggle="collapse" data-parent="#bugsAccordion" data-target="#collapseBugs">
                  <h4 class="card-title "> Bugs and Issues</h4>
              </div>
              <div id="collapseBugs" class="card-collapse collapse">
                    <div class="card-body">
                      <b>Q.</b>  I've found a bug! How can I report it?
                      <br>
                      <b>A.</b>  <a href="/contact">Click here to report a bug or issue with the website.</a>
                      <br><br>
                    </div>
                  </div>
                </div>
              </div>


      </div>


      </div>
      <div class="text-center d-block d-sm-none">
        <br><br>
        Still need help?<br> Click below to send us a message.<br><br>
        <a class="btn btn-primary" href="/contact" role="button">Contact Us</a>
      </div>

{{outlet}}
