<div class="container">
  <h2> Account Settings</h2>
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-8">

      <a href="/profile">Edit Profile</a>

      <h4>Email Preferences</h4>
        <form>
          <label class="form-check-label">
            <input type="checkbox" class="form-check-input">
              Send me an email when my favorites are online.
            </label>

        <div class="form-check">
          <label class="form-check-label">
            <input type="checkbox" class="form-check-input">
              Send me email about site news, events and updates.
          </label>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>

      </form>
  </div>
  <div class="col-xs-12 col-md-4">  .col-xs-12 col-md-4</div>
  </div>



  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-8">.col-xs-12 .col-sm-6 .col-md-8</div>
    <div class="col-xs-12 col-md-4">.col-xs-12 .col-md-4</div>
  </div>
</div>


{{outlet}}
