<div class="container">
  <h2> Account Settings</h2>
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-8">
      <a class="btn btn-primary" href="/profile" role="button">Edit Profile &nbsp;<span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></a>



    </div>
    <div class="col-xs-12 col-md-4">
      <a class="btn btn-primary btn-block" href="/fullSignup" role="button">Become a Broadcaster</a>
      <a class="btn btn-primary btn-block" href="/fullSignup" role="button">Become a Developer</a>

    </div>
  </div>



  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-8">
      <h4>Email Preferences</h4>
        <form>
          <label class="form-check-label">
            <input type="checkbox" class="form-check-input">
              Send me an email when my favorites are online.
            </label>

        <div class="form-check">
          <label class="form-check-label">
            <input type="checkbox" class="form-check-input">
              Send me email about site news, events and updates.
          </label>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
      <br>
    </div>
    <div class="col-xs-12 col-md-4">
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-8">
      <h4>Other Preferences</h4>
      <form>
        <label class="form-check-label">
          <input type="checkbox" class="form-check-input">
            Dark Mode
          </label>
          <br>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    </div>
    <div class="col-xs-12 col-md-4">
      <a type="button" class="btn btn-link btn-block" href="/delete"><u>Delete Account</u></a>
    </div>
  </div>
</div>


{{outlet}}
