<div class="container">

  <div class="row">
    <div class="col-xs-12">
      <h2>Your Dashboard</h2>
    </div>
    <div class="col-xs-12 col-sm-3 col-md-4" >
      <br><br>
      <a class="btn btn-primary btn-block btn-lg" role="button">Quick Stream</a>

    </div>
    <div class="col-xs-12 col-sm-3 col-md-4" >
      <br><br>
      <a class="btn btn-primary btn-block btn-lg" role="button">Advanced Stream</a>
      <br><br>
    </div>

    <div class="col-xs-12 col-sm-6 col-md-4">
      <div class="well">

                 <h4>Recent Messages:</h4>
                  Lorem Ipsum all the homes. placerat velit tempor sit amet. Suspendisse potenti. Morbi luctus iaculis quam ac euismod. Vivamus nec velit non ex sollicitudin ultricies. Nunc sed rhoncus tu
                  <br>

                </div>

    </div>
  </div>

    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-8">


          <div class="panel-group" id="accordion">
              <div class="panel panel-default">
                  <div class="panel-heading accordion-toggle" data-toggle="collapse" data-parent="#accordion" data-target="#collapseOne">
                       <h4 class="panel-title"><span class="glyphicon glyphicon-cog" aria-hidden="true"></span>&nbsp; Stream Settings</h4>

              </div>

              <div id="collapseOne" class="panel-collapse collapse in">
                <div class="panel-body">
                <form class="form-inline">
                        <div class="input-group">
                             <span class="input-group-btn">
                                 <button class="btn btn-default" type="button">Show Steam Key</button>
                             </span>
                             <input type="text" class="form-control" placeholder="***************">
                         </div>
                         <button class="btn btn-default"><span class="glyphicon glyphicon-refresh" aria-hidden="true"></span>&nbsp;Reset Key</button>

                       </form>
                     <form>

                        <br>
                    <label class="form-check-label">
                      <input type="checkbox" class="form-check-input">
                      Allow users to Shoopdawoop you
                      </label>

                  <div class="form-check">
                    <label class="form-check-label">
                      <input type="checkbox" class="form-check-input">
                        Allow users to werwerwer with you
                    </label>
                  </div>
                  <br>

                    <label for="example-number-input" >Number</label>
                      <input class="form-control" type="number" min="10" max="500" value="42" id="number-input">

                  <br>
                  <div class=text-right>

                  <button type="submit" class="btn btn-primary">Submit</button>
                </div>

                  </form>
                </div>
              </div>
            </div>

          </div>

        </div>
        <div class="col-xs-12 col-sm-6 col-md-4">
          <a class="btn btn-primary btn-block hidden-xs" href="/profile" role="button">Edit Profile &nbsp;<span class="glyphicon glyphicon-edit" aria-hidden="true"></span></a>
        </div>
    </div>

      <div class="row">
          <div class="col-xs-12 col-sm-6 col-md-8">





            <div class="panel-group" id="accordion2">
              <div class="panel panel-default">

                  <div class="panel-heading accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion2" data-target="#collapseTwo">
                    <h4 class="panel-title"><span class="glyphicon glyphicon-stats" aria-hidden="true"></span>&nbsp; Stats</h4>

                  </div>
                  <div id="collapseTwo" class="panel-collapse collapse">
                    <div class="panel-body">
                      woo stats <br> <br> congrats on the stats
                      </div>
                  </div>
                </div>
              </div>

          </div>
      </div>
</div>


{{outlet}}
