<div class="container">

  <div class="row">
    <div class="col-xs-12">
      <h2>Your Dashboard</h2>
    </div>
    <div class="col-xs-12 col-sm-3 col-md-4" >
      <br><br>
      <a class="btn btn-primary btn-block btn-lg" role="button">Quick Stream</a>

    </div>
    <div class="col-xs-12 col-sm-3 col-md-4" >
      <br><br>
      <a class="btn btn-primary btn-block btn-lg" role="button">Advanced Stream</a>
      <br><br>
    </div>

    <div class="col-xs-12 col-sm-6 col-md-4">

      <div class="well">

                 <h4>Recent Messages:</h4>
                  Lorem Ipsum all the homes. placerat velit tempor sit amet. Suspendisse potenti. Morbi luctus iaculis quam ac euismod. Vivamus nec velit non ex sollicitudin ultricies. Nunc sed rhoncus tu
                  <br>

                </div>

    </div>
  </div>

    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-8">
            <div class="well">
              <h4>Stream Settings</h4>
              <br>
              <form>
                <label class="form-check-label">
                  <input type="checkbox" class="form-check-input">
                  Allow users to Shoopdawoop you
                  </label>

              <div class="form-check">
                <label class="form-check-label">
                  <input type="checkbox" class="form-check-input">
                    Allow users to werwerwer with you
                </label>
              </div>
              <br>

                <label for="example-number-input" >Number</label>
                  <input class="form-control" type="number" min="10" max="500"  step="1" value="42" id="number-input">

            <br>
              <button type="submit" class="btn btn-primary">Submit</button>
              <br> <br>

              <div class="input-group">
                   <span class="input-group-btn">
                     <button class="btn btn-default" type="button">Show Steam Key</button>
                   </span>
                   <input type="text" class="form-control" placeholder="***************">
                 </div>
            </form>
            </div>

        </div>
        <div class="col-xs-12 col-sm-6 col-md-4">
          <a class="btn btn-primary btn-block hidden-xs" href="/profile" role="button">Edit Profile &nbsp;<span class="glyphicon glyphicon-edit" aria-hidden="true"></span></a>
        </div>
    </div>

      <div class="row">
          <div class="col-xs-12 col-sm-6 col-md-8">
              <div class="well">
                <h4>Stats</h4>

              </div>

          </div>
      </div>
</div>


{{outlet}}
