<div class="container">

<h3>Frequently Asked Questions</h3>

<br><br>
<b>Q.</b>  Why do you hate giraffes?
<br>
<b>A.</b>  No comment.

<br><br>
<b>Q.</b>  Can I put games I've developed on the site?
<br>
<b>A.</b>  Yes, <a href="/signup/developer">click here to become a developer.</a>

<br><br>
<b>Q.</b>  How can I stream on your site?
<br>
<b>A.</b>  Yes, <a href="/signup/broadcaster">click here to become a broadcaster.</a>

<br><br>
<b>Q.</b>  Can I delete my account?
<br>
<b>A.</b>  Yes, <a href="/account/delete">click here while logged in to delete your account.</a>




</div>
{{outlet}}
