
  <div class="row m-0">
    <div class="col-xs-12">
      <h2>Practice Games</h2>
      <h4> It pages all the games. placerat velit tempor sit amet. Suspendisse potenti. Morbi luctus iaculis quam ac euismod. Vivamus nec velit non ex sollicitudin ultricies. Nunc sed rhoncus turpis. Aenean molestie lobortis tincidunt. Ut sit amet gravida ligula, non ornare lectus. Suspendisse a nulla lectus.</h4>
      <br>
    </div>
  </div>
  <div class="row m-0">
    <div class="col-xs-12 col-md-3">
      Games can be a fun and relaxing way to spend some free time.
      <br>      <br>

    </div>
    <div class="col-xs-12 col-md-9">
      <div class="well">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Search For Games">
            <span class="input-group-btn">
              <button class="btn btn-default" type="button">Search</button>
            </span>
       </div>
       <br>
        Woo lots of games!
      </div>
    </div>
  </div>


{{outlet}}
