<nav class="navbar navbar-default" id="nav-bar">
 <div class="container-fluid">
   <!-- Brand and toggle get grouped for better mobile display -->
   <div class="navbar-header">
     <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
       <span class="sr-only">Toggle navigation</span>
      <span class="glyphicon glyphicon-align-right" aria-hidden="true"></span>
     </button>
     <a class="navbar-brand" id="logo" href="/">Fubar</a>
   </div>

   <!-- Collect the nav links, forms, and other content for toggling -->
   <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
     <ul class="nav navbar-nav navbar-right" >
  {{#if loggedIn}}
       <li><a href="/account" id="nav-links"> <span class="glyphicon glyphicon-user" aria-hidden="true"></span></a></li>


        <li class="dropdown">

         <a href="" id="nav-links" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> <span class="glyphicon glyphicon-align-right" aria-hidden="true"></span></a>
         <ul class="dropdown-menu">
           <li><a href="#">Action</a></li>
           <li><a href="#">Another action</a></li>
           <li><a href="#">Something else here</a></li>
           <li role="separator" class="divider"></li>
           <li><a {{action "logout"}}>Log Out</a></li>

         </ul>
       </li>

  {{else}}

       <li><button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
          Log in
          </button>
        </li>
  {{/if}}
     </ul>
   </div><!-- /.navbar-collapse -->
 </div><!-- /.container-fluid -->
</nav>
