<div class="container">
  <div class="col-xs-12  text-center" id="splash-text">
  <h3>Demo</h3>
    <br>
  Saber.tv is a demo live streaming site.
  <br><br>

    <form class="form-inline">
      <input type="email" class="form-control" id="splash-email-input" placeholder="Enter email address">
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
<hr class="splash-horizontal-rule">

  </div>

<!--- All Options -->
<div class="col-xs-12 text-center">

  - Or -
  <br><br>
  <div class="row">
    <div class="col-xs-12 col-md-4 col-md-push-4">

      <div class="row">
        <br>
      <span class="glyphicon large-glyphicon glyphicon-facetime-video" style="color:#bcbcbc" aria-hidden="true"></span>
    </div>
    <br><br>
    <div class="row">
    Sign up today!
    </div>
    <br>
    <div class="row">
      <a href="/signup/broadcaster" class="btn btn-primary" type="buton">Broadcaster Sign Up</a>
      <br><br>
    </div>

      <hr class="splash-horizontal-rule visible-xs">
    </div>
    <div class="col-xs-12 col-md-4 col-md-pull-4">
      <div class="row">
        <br>
        <span class="glyphicon large-glyphicon glyphicon-console" style="color:#bcbcbc" aria-hidden="true"></span>
      </div>
      <br><br>
      <div class="row">
    Sign up today!
      </div>
      <br>
      <div class="row">
        <a href="/signup/developer" class="btn btn-primary" type="buton">Developer Sign Up</a>
        <br><br>
      </div>

    <hr class="splash-horizontal-rule visible-xs ">
    </div>

    <div class="col-xs-12 col-md-4">
        <div class="row">
          <br>
      <span class="glyphicon large-glyphicon glyphicon-comment" style="color:#bcbcbc" aria-hidden="true"></span>
    </div>
    <br><br>
    <div class="row">
    Sign up today!
    </div>
    <br>
    <div class="row">
      <a href="/signup" class="btn btn-primary" type="buton">Affiliate Sign Up</a>
    </div>
    </div>
  </div>


  <br><br><br><br><br><br><br>
</div>
</div>

{{outlet}}
