<div class="container">

  <div class="row">
    <div class="col-xs-12">
      <h2>Your Profile</h2>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4">
      <img src="/usericon.svg" alt="default user icon" height="200" width="200">
    </div>
    <div class="col-xs-12 col-sm-6 col-md-8">
      <div class="well"><h4>Sweet Deets</h4></div>
    </div>
  </div>


  <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-4">
          <div class="well"><h4>Badges</h4></div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-8">
          <div class="well">
            <h4>Photos</h4>
            <img src="/usericon.svg" alt="default user icon" height="100" width="100">
            <img src="/usericon.svg" alt="default user icon" height="100" width="100">
            <img src="/usericon.svg" alt="default user icon" height="100" width="100">
            <img src="/usericon.svg" alt="default user icon" height="100" width="100">
            <img src="/usericon.svg" alt="default user icon" height="100" width="100">
            <img src="/usericon.svg" alt="default user icon" height="100" width="100">
            <img src="/usericon.svg" alt="default user icon" height="100" width="100">
            <img src="/usericon.svg" alt="default user icon" height="100" width="100">
            <img src="/usericon.svg" alt="default user icon" height="100" width="100">
            <img src="/usericon.svg" alt="default user icon" height="100" width="100">
            <img src="/usericon.svg" alt="default user icon" height="100" width="100">
            <img src="/usericon.svg" alt="default user icon" height="100" width="100">
            <img src="/usericon.svg" alt="default user icon" height="100" width="100">
            <img src="/usericon.svg" alt="default user icon" height="100" width="100">
            <img src="/usericon.svg" alt="default user icon" height="100" width="100">
            <img src="/usericon.svg" alt="default user icon" height="100" width="100">
            <img src="/usericon.svg" alt="default user icon" height="100" width="100">
            <img src="/usericon.svg" alt="default user icon" height="100" width="100">
            <img src="/usericon.svg" alt="default user icon" height="100" width="100">
            <img src="/usericon.svg" alt="default user icon" height="100" width="100">


          </div>

      </div>
  </div>
</div>


{{outlet}}
