<div class="container">

  <div class="row">
    <div class="col-xs-12">
      <h2>Your Profile</h2>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-8">
      <a id="edit-links" ><span title="Edit Avatar" class="glyphicon glyphicon-edit" aria-hidden="true"></span></a>
      <img src="/usericon.svg" alt="default user icon" height="400" width="500">

    </div>
    <div class="col-xs-12 col-sm-6 col-md-4">
      <div class="well">
  <a align="right" id="edit-links" ><span title="Edit Details" class="glyphicon glyphicon-edit" aria-hidden="true"></span></a>
       <h4>About Me:
</h4>
        Lorem Ipsum all the homes. placerat velit tempor sit amet. Suspendisse potenti. Morbi luctus iaculis quam ac euismod. Vivamus nec velit non ex sollicitudin ultricies. Nunc sed rhoncus tu
        <br>
        <br>
        <b>Sex:</b> Male
        <br>
        <b>Location:</b>  Earth
        <br>
        <b>Languages:</b>  English, Fake Latin
        <br>
        <b>Tags:</b> RPG, Monopoly, Cheese, Crackers, Pizza

      </div>
    </div>
  </div>


  <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-8" align="center">
        <div class="profile-Actions">
          <a id="profile-links" ><span title="Send Message" class="glyphicon glyphicon-envelope" aria-hidden="true"></span></a>
          {{#if isFavorite}}
          <a id="profile-links" ><span  title="Remove From Favorites" class="glyphicon glyphicon-heart" aria-hidden="true"></span></a>
          {{else}}
          <a id="profile-links" ><span  title="Add to Favorites" class="glyphicon glyphicon-heart-empty" aria-hidden="true"></span></a>
          {{/if}}

        </div>

      </div>
      <div class="col-xs-12 col-sm-6 col-md-8">
          <div class="well">
            <a align="right" id="edit-links" ><span title="Edit Photos" class="glyphicon glyphicon-edit" aria-hidden="true"></span></a>

            <h4>Photos</h4>
            <img src="/usericon.svg" alt="default user icon" height="100" width="100">
            <img src="/usericon.svg" alt="default user icon" height="100" width="100">
            <img src="/usericon.svg" alt="default user icon" height="100" width="100">
            <img src="/usericon.svg" alt="default user icon" height="100" width="100">
            <img src="/usericon.svg" alt="default user icon" height="100" width="100">
            <img src="/usericon.svg" alt="default user icon" height="100" width="100">
            <img src="/usericon.svg" alt="default user icon" height="100" width="100">
            <img src="/usericon.svg" alt="default user icon" height="100" width="100">
            <img src="/usericon.svg" alt="default user icon" height="100" width="100">
            <img src="/usericon.svg" alt="default user icon" height="100" width="100">
            <img src="/usericon.svg" alt="default user icon" height="100" width="100">
            <img src="/usericon.svg" alt="default user icon" height="100" width="100">
            <img src="/usericon.svg" alt="default user icon" height="100" width="100">
            <img src="/usericon.svg" alt="default user icon" height="100" width="100">
            <img src="/usericon.svg" alt="default user icon" height="100" width="100">
            <img src="/usericon.svg" alt="default user icon" height="100" width="100">
            <img src="/usericon.svg" alt="default user icon" height="100" width="100">
            <img src="/usericon.svg" alt="default user icon" height="100" width="100">
            <img src="/usericon.svg" alt="default user icon" height="100" width="100">
            <img src="/usericon.svg" alt="default user icon" height="100" width="100">


          </div>

      </div>
  </div>
</div>


{{outlet}}
